<?php

{{namespace}}

use WPTrait\Admin\Taxonomy;

class {{class}} extends Taxonomy
{

    public function __construct($slug, $name, $post_types, $args, $plugin)
    {
        parent::__construct($slug, $name, $post_types, $args, $plugin);
    }

}
